header {
    h1 {
        font-weight: 500;
        font-size: 3em;
        text-align: center;
    }
}

footer {
    margin-top: 2em;
    border-color: #bbb;
    border-width: 1px;
    border-style: solid;
    padding: 2em;
}