$secondary: #997673;

.result-score {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

.result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result-review {
    min-width: 100px;
    padding: 0.5em;
    text-align: center;
    background-color: $secondary;
    border-radius: 0.4em;
}